
		<div class="container register-form top-buffer-1">
		  <div class="form">
			  <div class="note">
				<p>Faire une Affecation</p>
			  </div>
		 <div class="form-content bk">
				<form [formGroup]="registreAffectation">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Affectation</legend>
            <div class="row">
							<div class="col-sm-5">
							  <label for="nomComplet">Date Debut</label>
							  <input type="date" class="form-control" [value]="debut" formControlName="dateDebut" id="nomComplet" placeholder="Numero Compte" name="nomComplet">
              </div>
              <div class="col-sm-5">
							  <label for="nomComplet">Date Fin</label>
							  <input type="date" class="form-control" [value]="fin" formControlName="dateFin" id="nomComplet" placeholder="Numero Compte" name="nomComplet">
              </div>
              <div class="col-sm-5">
							  <label for="lname">Le Caissier</label>
							  <select class="form-control " id="sel1 " name="lname" formControlName="userComptePartenaire">
                  <option  name="lname" *ngFor="let userComptePartenaire of userComptePartenaire"  [value]="userComptePartenaire.id">{{ userComptePartenaire.username }}</option>
                </select>
							</div>
              <div class="col-sm-5">
							  <label for="lname">Le Compte</label>
							  <select class="form-control " id="sel1 " name="lname" formControlName="compte">
                  <option  name="lname" *ngFor="let compte of compte"  [value]="compte.id">{{ compte.numeroCompte }}</option>
                </select>
							</div>
          </div>
					</fieldset>
					<button type="submit" class="btn btn-primary" (click)="affectations()">Envoyer</button>
				</form>
			</div>
		  </div>
		  </div>
