<!--admin-->
<div class="container-fluid" *ngIf="isAdmin()">
  <section class="row">
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/dashboard" ><img src="assets/images/fond1.png" alt="fond"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2" *ngIf="isAdmin()"><a class="nav-link" routerLink="/accueil/newcompte" ><img src="assets/images/comptes.png" alt="compte"></a></div>
  </section>
  <section class="row">
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2" *ngIf="isAdmin()"><a class="nav-link" routerLink="/accueil/parts" ><img src="assets/images/part.png" alt="part"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/dashboard"><img src="assets/images/images1.jpg" alt="image1"></a></div>
  </section>
</div>
<!--partenaire-->
<div class="container-fluid" *ngIf="isPAdmin()">
  <section class="row">
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/dashboard" ><img src="assets/images/fond1.png" alt="fond"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/envoie" ><img src="assets/images/envoie.png" alt="envoie"></a></div>
  </section>
  <section class="row">
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/parts" ><img src="assets/images/part.png" alt="part"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/retrait" ><img src="assets/images/retrait.png" alt="retrait"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/dashboard"><img src="assets/images/images1.jpg" alt="image1"></a></div>
  </section>
</div>

<!--caissier-->
<div class="container-fluid" *ngIf="isCaissier()">
  <section class="row">
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/dashboard" ><img src="assets/images/fond1.png" alt="fond"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2" *ngIf="isPCaissier()"><a class="nav-link" routerLink="/accueil/envoie" ><img src="assets/images/envoie.png" alt="envoie"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2" *ngIf="isAdmin()"><a class="nav-link" routerLink="/accueil/newcompte" ><img src="assets/images/comptes.png" alt="compte"></a></div>
  </section>
  <section class="row">
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2" *ngIf="isAdmin()"><a class="nav-link" routerLink="/accueil/parts" ><img src="assets/images/part.png" alt="part"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2" *ngIf="isPCaissier()"><a class="nav-link" routerLink="/accueil/retrait" ><img src="assets/images/retrait.png" alt="retrait"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/dashboard"><img src="assets/images/images1.jpg" alt="image1"></a></div>
  </section>
</div>
<!--caissier partenaire-->
<div class="container-fluid" *ngIf="isPCaissier()">
  <section class="row">
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/dashboard" ><img src="assets/images/fond1.png" alt="fond"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2" *ngIf="isPCaissier()"><a class="nav-link" routerLink="/accueil/envoie" ><img src="assets/images/envoie.png" alt="envoie"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2" *ngIf="isAdmin()"><a class="nav-link" routerLink="/accueil/newcompte" ><img src="assets/images/comptes.png" alt="compte"></a></div>
  </section>
  <section class="row">
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2" *ngIf="isAdmin()"><a class="nav-link" routerLink="/accueil/parts" ><img src="assets/images/part.png" alt="part"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2" *ngIf="isPCaissier()"><a class="nav-link" routerLink="/accueil/retrait" ><img src="assets/images/retrait.png" alt="retrait"></a></div>
    <div class="col-xs-4 col-sm-3 col-lg-2 col-md-2"><a class="nav-link" routerLink="/accueil/dashboard"><img src="assets/images/images1.jpg" alt="image1"></a></div>
  </section>
</div>
