<div class="container register-form top-buffer-1" *ngIf="!afficherContrat">
		  <div class="form">
			  <div class="note">
				<p>Creation D'un Compte Partenaire</p>
			  </div>
		 <div class="form-content bk">
				<form [formGroup]="registreCompte">
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Les Information du Partenaire</legend>
						<div class="row" formGroupName="partenaire">
              <div class="col-sm-3">
							  <label for="ninea">Ninea</label>
							  <input type="ninea" [(ngModel)]="ninea" class="form-control" formControlName="ninea" id="ninea" placeholder="Ninea" name="ninea" >
							</div>
							<div class="col-sm-3">
							  <label for="nomComplet">Nom Complet</label>
							  <input type="nomComplet" class="form-control" [value]="nomComplet" formControlName="nomComplet" id="nomComplet" placeholder="Nom Complet" name="nomComplet">
							</div>
              <div class="col-sm-3">
							  <label for="rc">Registre De Commerce</label>
							  <input type="rc" class="form-control" id="rc" [value]="registreCommercial" formControlName="registreCommercial" placeholder="Registre De Commerce" name="rc">
							</div>
							<div class="col-sm-3">
							  <label for="telephone">Telephone</label>
							  <input type="telephone" class="form-control" [value]="telephone" formControlName="telephone" id="telephone" placeholder="telephone">
              </div>
              <div class="col-sm-3">
							  <label for="adresse">Adresse</label>
							  <input type="text" class="form-control" [value]="adresse" formControlName="adresse" id="adresse" placeholder="adresse">
              </div>
              <fieldset class="scheduler-border">
              <legend class="scheduler-border">Donnees Utilisateur</legend>
              <div class="row" formGroupName="userComptePartenaire">
                <div class="col-sm-3">
                  <label for="cname">Email</label>
                  <input type="text" class="form-control" [value]="email" formControlName="email" id="title" placeholder="email" name="email">
                </div>
                <div class="col-sm-3">
                  <label for="uname">Username</label>
                  <input type="text" class="form-control" [value]="username" formControlName="username" id="usermane" placeholder="username" name="uname">
                </div>
                <div class="col-sm-3">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" [value]="password" formControlName="password" id="password" placeholder="password" name="pasword">
                </div>
              </div>
            </fieldset>
            </div>

					</fieldset>
					<!-- Educational Qualification -->
					<!--Educational Qualification -->

					<!-- Test Prep -->
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Faire Depot</legend>
						<div class="row" formGroupName="depot">
							<div class="col-sm-3">
							  <label for="place">Montant</label>
							  <input type="number" class="form-control" formControlName="montant" id="fmane" placeholder="Montant" name="place">
							</div>
						</div>
					</fieldset>
					<!-- Study Abroad Plans -->
					<button type="submit" class="btn btn-primary" (click)="create()">Creer Compte Partenaire</button>
				</form>
			</div>
		  </div>
    </div>
    <fieldset *ngIf="afficherContrat" >
      <legend>GOUKODI</legend>
      <h3 class="text-center titre">Contrat de Partenariat</h3>
      <div class="row">
          <p class="col-sm-3"><strong>Entreprise :</strong> GOUKODI </p>
          <p class="col-sm-3"> Malick Coly, représentant de la société Goukodi, immatriculée au RCS sous le numéro 1767 1994 0 3036 située au Parcelles Assainies Unite19, villa 107</p>
          <p>Et {{coly.nomComplet}}, de nationalité Sénégalaise immatriculé(e) à la Registre commercial {{coly.registreCommercial}} sous le ninea {{coly.ninea}} ,demeurant à {{coly.adresse}}. Son numéro téléphone est {{coly.telephone}}</p>
            <p>ci-après dénommé le partenariat,</p>
      </div>
      <fieldset >
          <legend>Il a été arrêté et convenu ce qui suit :</legend>

            <p>Article 1 : Engagement</p>
            <p>Le partenariat a demare à compter du {{coly.comptes.dateCreation}}</p>
            <p>Le partenaire déclare être, à compter de la date effective de partenariat, libre de tout engagement de nature à faire obstacle à l’exécution du présent contrat.</p>

            <p>Article 2 : Fonctions et attributions</p>
            <p>Le partenaire est engagé en qualité d’utiliser notre plateforme pour créer des comptes et effectuer des transactions sur ses comptes</p>

            <p>Article 3 : Période d’essai</p>
            <p>Il est convenu entre les parties au contrat de travail une période indéterminée au cours de laquelle chacune des parties pourra rompre sans indemnités et sans avoir à motiver sa décision.</p>

            <p>Article 4 : Lieu de travail</p>
            <p>Le partenaire exercera ses fonctions dans les locaux qui lui convient</p>

            <p>Article 5 : Rémunération</p>
            <p>En contrepartie, le partenaire percevra une rémunération sur commission pour chaque transaction effectuée</p>
            <p>commission Envoi = (frais de transfert X 10)/100</p>
            <p>commission Retrait = (frais de transfert X 20)/100</p>

            <p>Article 6 : Préavis</p>
            <p>Chacune des parties a la possibilité de rompre le présent contrat dans les conditions prévues par la loi, sous réserve de respecter le préavis de :</p>
                <p>• Malick Coly pour le blocage et l’annulation ;</p>
            <p>sauf situation pour laquelle l’obligation d’effectuer un préavis est écartée, c’est-à-dire pour faute grave ou faute lourde.</p>
      </fieldset>
      <fieldset >
          <legend>Transaction</legend>
          <p>Fait en double exemplaire au Parcelles Assainies, le {{coly.comptes.dateCreation}}.</p>
            <p>Signature à faire précéder de la mention manuscrite  » lu et approuvé  »</p>
            <p>Directeur Général de Goukodi,                                                               	Le partenaire.</p>
      </fieldset>
  </fieldset>
  <script src="node_modules/sweetalert2/dist/sweetalert2.js"></script>

<!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill9/dist/polyfill.js"></script>

