@media print {
  body * {
    visibility: visible;
    }
    #section-to-print, #section-to-print * {
    visibility: hidden;
    }
    #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
    }
    .col {
      width: 20%;
     }
  }
