
		<div class="container register-form top-buffer-1" *ngIf="!afficherRecu">
		  <div class="form">
			  <div class="note">
				<p>Faire Un Transfert D'argent</p>
			  </div>
		 <div class="form-content bk">
       <form [formGroup]="registreCode">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Entrer Le Code</legend>
          <div class="row">
            <div class="col-sm-3">
              <label for="cname">Code</label>
              <input type="name" class="form-control" [(ngModel)]="code" formControlName="code" id="title" placeholder="code" name="email">
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary" (click)="entrerCode()">Envoyer</button>
       </form>
				<form [formGroup]="registreRetrait">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Les Informations de l'Expediteur</legend>
            <div class="row">
							<div class="col-sm-3">
							  <label for="nomComplet">Code de Transaction</label>
							  <input type="nomComplet" class="form-control" [value]="code" formControlName="code" id="nomComplet" placeholder="Code de transaction" name="nomComplet">
              </div>
              <div class="col-sm-3">
							  <label for="ninea">Type Piece</label>
							  <input type="text" class="form-control" formControlName="typePieceR" id="ninea" placeholder="type Piece" name="ninea">
							</div>
               <div class="col-sm-3">
							  <label for="rc">Numero Piece</label>
							  <input type="text" class="form-control" id="rc" formControlName="numeroPieceR" placeholder="Numero de Piece" name="rc">
							</div>
							<div class="col-sm-3">
							  <label for="nomComplet">Nom Complet</label>
							  <input type="nomComplet" class="form-control" [value]="nomCompletR" id="nomComplet" placeholder="Nom Complet" name="nomComplet" readOnly>
              </div>
              <div class="col-sm-3">
							  <label for="telephone">Telephone</label>
							  <input type="number" class="form-control" [value]="telephoneR" id="telephone" placeholder="telephone" readonly>
							</div>
              <div class="col-sm-3">
							  <label for="place">Montant</label>
							  <input type="number" class="form-control" [value]="montant"  id="fmane" placeholder="Montant" name="place" readonly>
							</div>

          </div>
					</fieldset>
					<button type="submit" class="btn btn-primary" (click)="retraits()" [disabled]="registreRetrait.invalid">Envoyer</button>
				</form>
			</div>
		  </div>
      </div>
      <fieldset *ngIf="afficherRecu">
        <legend>GOUKODI</legend>
        <h3 class="text-center titre">Reçu de Retrait</h3>
        <div class="row">
            <p class="col-sm-3"><strong>Entreprise :</strong> GOUKODI </p>
            <p class="col-sm-3"><strong>Guichetier :</strong> {{coly.compteRecepteur.numeroCompte}}</p>
            <p class="col-sm-3"><strong>Date :</strong> {{coly.dateRetrait}}</p>
        </div>
        <fieldset>
            <legend>Bénéficiaire</legend>
            <p>Nom : {{this.nomCompletR}}</p>
            <p>Téléphone : {{this.telephoneR}}</p>
            <p>NCI : {{coly.numeroPieceR}}</p>
        </fieldset>
        <fieldset>
            <legend>Envoyeur</legend>
            <p>Nom : {{this.nomCompletE}}</p>
            <p>Téléphone : {{this.telephoneE}}</p>
        </fieldset>
        <fieldset>
            <legend>Transaction</legend>
            <p>Code : {{this.code}}</p>
            <p>Montant Envoyé : {{this.montant}}</p>
        </fieldset>
    </fieldset>
    <script src="node_modules/sweetalert2/dist/sweetalert2.js"></script>

    <!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill9/dist/polyfill.js"></script>
