<div class="container register-form top-buffer-1">
		  <div class="form">
			  <div class="note">
				<p>Creation d'un Utilisateur</p>
			  </div>
		 <div class="form-content bk">
				<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
					<fieldset class="scheduler-border">
						<legend class="scheduler-border">Creation d'un Utilisateur</legend>
						<div class="row">
							<div class="col-sm-5">
							  <label for="lname">Email</label>
							  <input type="name" class="form-control" id="fmane" placeholder="Email" name="lname" formControlName="email">
							</div>
							<div class="col-sm-5">
							  <label for="fname">Username</label>
							  <input type="name" class="form-control" id="fmane" placeholder="Username" name="fname" formControlName="username">
							</div>
							<div class="col-sm-5">
							  <label for="lname">Password</label>
							  <input type="name" class="form-control" id="fmane" placeholder="Password" name="lname" formControlName="password">
							</div>
               <div class="col-sm-5">
							  <label for="lname">Profil</label>
							  <select class="form-control " id="sel1 " name="lname" formControlName="profil">
                  <option  name="lname" *ngFor="let profil of profil"  [value]="profil.id">{{ profil.libelle }}</option>
                </select>
							</div>
						</div>

					</fieldset>
                                     <div class="col-sm-5">
							  <label for="lname"></label>
							  <button class="btn btn-primary">Creer utilisateur</button>
							</div>

				</form>
			</div>
		  </div>
    </div>

